@inherits LayoutComponentBase
@inject IJSRuntime JS

<nav class="navbar navbar-expand-md fixed-top navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            Blíða
        </a>
        <button class="navbar-toggler" typeof="button" data-toggle="collapse" data-target="#topNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="topNavbar">
            <div class="col"></div>
            <div class="col-auto">
                <button class="btn btn-outline-primary" @onclick="Refresh">
                    <i class="fas fa-sync"></i>
                </button>
            </div>
        </div>
    </div>
</nav>
<div class="main">
    @Body
</div>

@code {
    async Task Refresh()
    {
        await JS.InvokeVoidAsync("window.plot.relayout", "temp-plot", new { });
        await JS.InvokeVoidAsync("window.plot.relayout", "pressure-plot", new { });
        await JS.InvokeVoidAsync("window.plot.relayout", "humidity-plot", new { });
    }
}
